@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply m-0 p-0 font-sans text-sm;
}

body {
  @apply overflow-hidden; /* for iphone */
}

#right-arrow::before {
  content: "";
  @apply w-10 bg-gradient-to-r from-transparent to-white;
}

#left-arrow::after {
  content: "";
  @apply w-10 bg-gradient-to-r from-white;
}

.scrollbar {
  /* For Firefox, Chrome, EDGE 
     scrollbar-width: 可以是 'auto', 'thin', 'none'
     scrollbar-color: 滚动条颜色和轨道颜色 */
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;

  /* For Chrome, EDGE, Opera, Others */
  &::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-md bg-white;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-200;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
